.grid-container{
    width: 475px;
    height: 490px;
    background-color: rgb(187, 173, 160);
    border-radius: 3%;
    position: relative;
}

/*.grid-cell {
     background-color:rgba(238, 228, 218, 0.34902);
}*/