<div class="container">
	<div class="heading">
		<h1 class="color-dark-brown"> 2048 </h1>
		<div class="status-container">
			<div class="current-score-container">
				Current score : {{currentGame.currentScore}}
			</div>
			<div class="best-score-container">
				Best score : {{currentGame.bestScore}}
			</div>
		</div>
	</div>
	<div class="intro-container">
		Join the numbers and get to the 2048 tile!  
		
		<button (click)="createNewGame()" class="new-game-btn"> New Game </button>
	</div> 
	<Grid> </Grid>
</div>
