<div class="page-container">
	<div class="heading-container">
		<h1 class="text-title color-dark-brown"> 2048 </h1>
		<div class="status-container">
			<div class="current-score-container">
				{{game.currentScore}} 
			</div>
			<div class="best-score-container">
				{{game.bestScore}} 
			</div>
		</div>
	</div>
	<div class="intro-container">
		<p> Join the numbers and get to the 2048 tile!  </p>
		
		<button (click)="createNewGame()" class="new-game-btn"> New Game </button>
		<button (click)="insertRandomValue()" class="btn btn-primary"> Random Insert </button>
		<button (click)="createSampleBoard()" class="btn btn-primary"> Seed Board </button>
	</div> 
	<grid [tiles]="game.tiles"> </grid>
</div>
