<div class="page-container">
	<div class="heading-container">
		<h1 class="text-title color-dark-brown"> 2048 </h1>
		<div class="status-container">
			<div class="current-score-container">
				{{game.currentScore | async}} 
			</div>
			<div class="best-score-container">
				{{game.bestScore | async }} 
			</div>
		</div>
	</div>
	<div class="intro-container">
		<p class="intro-text"> Join the numbers and get to the 2048 tile!  </p>
		
		<button (click)="createNewGame()" class="btn btn-primary btn-new-game"> New Game </button>
	</div> 
	<grid [tiles]="game.tiles | async"> </grid>
</div>
